body {
    margin:0; 
    padding:0; 
    opacity:0;  
    transition:opacity 1s ease;     
}
.loaded {
    opacity:1;
}
.row-header{
    background: rgb(199, 195, 195);
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    font-size: 14px;
}
.house-name{
    padding:5px;
    font-size:20px;
    font-weight: bold;
    margin-top: 10px;
}
.house-detail {
    padding:5px;
    font-size:15px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    border-right:solid 1px black;
}
.link {
    background-color:orange;
    margin: 10px 190px 20px 180px;
    font-size:16px;
    text-decoration: none;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}
.row{
    padding:5px;
}
#in-detail {
    display:block;
    padding:20px;
    
}
.heading {
    text-align:center;
}
#overview{
    padding:inherit;
}
.description{
    padding:20px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    margin:30px 30px 10px 30px;
}
.content {
    font-weight: bold;
}